<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Consulta Facturas</h4>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>numero factura</th>
                  <th>Cliente</th>
                  <th>Fecha</th>
                  <th>Vendedor</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let persona of personas">
                  <td>{{persona.numberInvoice}}</td>
                  <td>{{persona.nameClient}}</td>
                  <td>{{persona.dateCreate}}</td>
                  <td>{{persona.seller}}</td>
                  <td>{{persona.total}}</td>
                  <td>
                    <a [routerLink]="['/icons/edit', persona.id]" class="btn btn-info btn-block">Edit</a>
                    <a class="btn btn-danger btn-block" (click)="deletePerson(persona.id)">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>