<div class="main-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header card-header-danger">
                  <h4 class="card-title">Crear Factura</h4>
               </div>
               <div class="card-body">
                  <form>
                     <div class="form-group">
                        <input type="text" name="numberInvoice" [(ngModel)]="persona.numberInvoice" placeholder="numero factura" class="form-control">
                     </div>
                     <div class="form-group">
                        <input type="text" name="codeProduct" [(ngModel)]="persona.codeProduct" placeholder="codigo producto" class="form-control">
                     </div>
                     <div class="form-group">
                        <input type="text" name="amount" [(ngModel)]="persona.amount" placeholder="cantidad" class="form-control">
                     </div>
                     <div class="form-group">
                        <input type="text" name="important" [(ngModel)]="persona.important" placeholder="importante" class="form-control">
                     </div>
                     <button class="btn btn-success btn-block" (click)="edit ? updatePerson() : savePerson()">
                        Guardar
                     </button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>